@import "./variables";

@function pxToRem($pxValue) {
  @return ($pxValue / 16) * 1rem;
}

@mixin centerFlexItems {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin centerGridItems {
  display: grid;
  align-items: center;
  justify-content: center;
}

@mixin gradientText {
  background: linear-gradient(to right, #000, #777);
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  color: transparent;
}
