@import "../../../styles/variables";

.projects {
  padding: 50px 40px;
  text-align: center;
  background-color: $color-background;
  //   border-top-left-radius: 100px;
  //   border-top-right-radius: 100px;
  height: 700px;
}
