@import "../../../styles/variables";

.projects {
  padding: 70px 40px;
  text-align: center;
  background-color: $color-background;
  display: grid;
  gap: 50px;

  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  //   border: 2px solid black;

  //   transform: translateY(-100px);
  //   border-top-left-radius: 100px;
  //   border-top-right-radius: 100px;

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 30px;
    justify-self: center;
  }
}
