@import "../../../../styles/variables";

.btn {
  border: none;
  padding: 20px 40px;
  font-size: 18px;
  //   background-color: #000;
  //   color: #fff;
  border: 2px solid #000;
  background-color: transparent;
  transition: all 0.2s;
  cursor: pointer;
  width: auto;
  //   box-shadow: $shadow-1;

  &:hover {
    background-color: #000;
    color: #fff;
  }

  &.fullWidth {
    width: 100%;
  }
}
