@import "../../../../styles/variables";

.education {
  max-width: 500px;
  display: flex;
  gap: 20px;
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  box-shadow: $shadow-1;

  &__content {
    display: grid;
    gap: 10px;
  }
}
